:root{
    --black: #272d3b;
    --red: #ed176f;
    --coral: #f7817f;
    --gradient:linear-gradient(90deg, var(var(--red), var(var(--coral))));
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background-color: var(--red);
    color:#fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}
body{
    background-image:url(../image/hatter1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
    width: 100%;
}
section{
    padding:3rem 9%
}
.btn{
    display: inline-block;
    padding: 1.5rem 3rem;
    margin-top: 2rem;
    border-radius: 5rem;
    background-color: #76a713;
    color: #fff;
    cursor:pointer;
    font-size: 2rem;
}
.btn:hover{
    transform: scale(1.1);
    background: linear-gradient(white, var(--coral));
    color:black;
}
 .heading{
    text-align: center;
    color: #76a713;
    font-size: 5rem;
    text-transform: uppercase;
    padding: 1rem 0;
    -webkit-background-clip: text;
    background-clip: text;
    margin-top:10rem;
} 
header{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    box-shadow: 0px 5px 10px 0px #aaa;
    z-index: 1000;
    padding: 2rem 9%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .navbar a{
    font-size: 3.5rem;
    margin-left: 2rem;
    color: #76a713;
   
}
header .navbar a:hover{
    color: rgb(14, 45, 14);
}

#menu-bar{
    font-size: 3rem;
    color: #76a713;
    cursor: pointer;
    display:none;
}
.home {
    position: relative;
    overflow: hidden;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 110vh; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slideBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slideBox.active {
    opacity: 1;
}

.textBox {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 40%;
    text-align: left;
    z-index: 1;
}
.textBox h1{
    font-size: 5rem;
    margin-bottom:5%;
}
.textBox p{
    font-size: 3rem;
    padding:2%;
    margin-left:5%;
}
.textBox h2{
    font-size: 3.5rem;
    text-decoration: bold;
    padding:5%;
    margin-left:-5%;
}
.imgBox {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 40%;
    z-index: 1;
}

.controls {
    position: absolute;
    top: 50%;
    right: 2%; 
    transform: translateY(-50%);
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls li {
    cursor: pointer;
    margin: 0 10px;
}

.controls li i {
    font-size: 5.5rem;
}

.controls li:hover {
    opacity: 0.7;
}

.usage .row{
    display:flex;
    justify-content: center;
}
#features .heading {
   padding-top:1%;
}
.usage .row .divider{
    padding: 1rem;
    width: 50%;
    margin-left:-5%;
    margin-top:-7%;
}
.usage .row .box-container .box h3{
    color:var(--black);
    font-size: 3.5rem;
}
.usage .row .box-container .box p{
    font-family: 'Times New Roman', Times, serif;
    color: #666;
    padding: 1rem 0;
    font-size: 2rem;
}
.usage .box-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom:-5%;
}

.usage .box-container:nth-child(2) {
    margin-top: 0; 
}
.usage .row .box-container .box .magnet{
    position: relative;
    margin-bottom:15px;
}

.usage .row .box-container .box .maschine img,
.usage .row .box-container .box .cuter img,
.usage .row .box-container .box .presser img,
.usage .row .box-container .box .magnet img {
    width: 120%;
}
.usage .row .box-container .box .maschine {
    width: 100%;
    margin-top:140%;
    padding-left:100px;
}
.usage .row .box-container .box .cuter {
    width: 100%;
    margin-top: 10%;
    padding-right: 20%;
}
.usage .row .box-container .box .presser {
    width: 100%;
    margin-top: -25%;
    padding-right: 20px;
    
}
.usage .row .box-container .box .magnet {
    width: 100%;
    margin-top: 200%;  
}


.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}
.about .row .image{
    flex:1 1 100rem;
    margin-top:10%;
}
.about .row .image img{
    margin-left:-15%;
    width: 130%;
    margin-bottom:60px;
}
.about .row .content{
    flex: 1 1 40rem;
    padding-bottom: -8%;
}
.about .row .content h3{
    color:#76a713;
    font-size: 4.5rem;
}
.about .row .content p{
    color: #666;
    font-size: 2.5rem;
    padding:1rem;
    font-style: italic;
    line-height: 1.5;
}
.about .row .content .buttons{
    display: flex;
    flex-wrap: wrap;
}
.about .row .content .buttons a:hover{
    opacity: .7;
}
.about .row .content .buttons :last-child{
    margin-left: 3rem;
}

.shop {
    padding: 5%;
}
.shop .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
}
.shop .row .card {
    margin: 2rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 1rem;
    border-radius: 10px;
    position: relative;
  
}
.shop .row .card img {
    
    
    max-width: 80%; 
    max-height: 80%;
    width: auto; 
    height: auto;

    
}
.shop .row .card .icon{
    position: absolute;
    bottom:17%;
    right: 2%;
    display: flex;
}
.shop .row .card .icon i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #76a713;
    color:#fff;
    display: grid;
    place-items: center;
    font-size: 14px;
    cursor: pointer;
    margin: .5rem;
}
.shop .row .card .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop .row .card .name h3{
    text-transform: capitalize;
    font-size: 1.5rem;
    color:#ed176f;
}
.shop .row .card .price{
    position: absolute;
    top:5%;
    left:5%;
    color:#000;
    font-weight: bold;
    font-size: 2rem;
}
.blog{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
}
.heading{
    margin-top: 5%;
}
.blog .box-container{
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    
}
.blog .box-container .box{
    background: rgba(255,255,255, 0.03);
    border: 2px solid #dcdcdc;
    backdrop-filter:blur(0.5px);
    box-shadow: 0 20px 50px rgba(40, 113, 85, 0.4);
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    flex: 1 1 33rem;
    border-radius: .5rem;
}
.blog .box-container .img-box{
    transition:  .5s;
    overflow: hidden;
}
.blog .box-container .img-box img{
    width: 100%;
}
.blog .box-container .box:hover img{
    transform: scale(1.2);
}
.blog .box-container .box .date{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    font-size:2rem;
}
.blog .box-container .box .date span{
    background-color: #76a713;
    color: #fff;
    border-radius: 4px;
    padding: .3rem 1rem;
    height: 25px;
}
.blog .box-container.box p{
    font-size: 12px;
    margin: 1rem 0;
    line-height: 1.5;
    color: #aaa;
}











.contact {
    background-image: url(../image/hatter1.png);
    background: linear-gradient(transparent 70%, var(--black) 30%);
    margin-top:-5%;
}

.contact .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    align-items: center;
    justify-content: center;
}
.contacted{
    width: 70%;
}

.contact .box-container .box img {
    max-width: 55%;
    width: 100%;
    margin-left:45%;
}

.contact .box-container form {
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 .5rem 3rem rgba(0, 0, 0, 0.1);
}

.contact .box-container form .input-field {
    position: relative;
}
.contact .box-container form .input-field input{
    border:none;
}
.contact .box-container form .input-field,
.contact .box-container form .input-field textarea {
    width: 100%;
    margin: 1.5rem 0;
    padding: 1rem 0;
    border: none;
    border-bottom: .2rem solid rgba(0, 0, 0, 0.3);
    font-size: 1.7rem;
    text-transform: none;
    outline:none;
}

.contact .box-container form .input-field textarea {
    resize: none;
    height: 15rem;
}

.contact .box-container form .input-field input:focus,
.contact .box-container form .input-field textarea:focus {
    border: var(--red);
}

label {
    font-size: 2rem;
    position: absolute;
    top: 1.5rem;
    left: 0;
}
.input-field:focus~label{
    top:-.4rem;
    font-size: 1.5rem;
    color:var(--red);
}
.input-field #name:focus~label,
.input-field #email:focus~label,
.input-field #number:focus~label,
.input-field textarea:focus~label{
    top:-.4rem;
    font-size: 1.5rem;
    color:var(--red);
}
input[type="submit"]{
    border:none;
}






@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem 4%;
    }
    section{
        padding: 3rem 4%;
    }
    .usage .row{
        flex-flow: column;
    }
    .usage .row .divider{
        display: none;
    }
    .usage .row .bow-container .box{
        text-align: center;
    }
}
@media (max-width:760px){
    #menu-bar{
        display:block;
    }
    header .navbar{
        position: absolute;
        top:100%;
        left:0;
        right: 0;
        background-color: #fff;
        border-top: .1rem solid #fff3;
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.nav-toggle{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        display: block;
        margin: 1.5rem 0;
        padding: 1rem;
        background: red;
        text-align: center;
        border-radius: .5rem;
        color:#fff;
    }
    header .navbar a:hover{
        color: var(--black);
    }
    .fa-times{
        transform: rotate(180deg);
    }
    .home .content h3{
        font-size: 4rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }
    .about .row .content .buttons a{
        width: 95%;
    }
    .about .row .content .buttons a:last-child{
        margin: 1rem 0;
    }
}
@media (max-width:400px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 3.2rem;
    }
}