body{
    font-family: "Quicksand", sans-serif;
    background: #edddd4;
    color:#283d3b;
    margin:0;
    padding:0;
}
ul{
    list-style-type:none;
    padding: 0 1.5rem 01rem;
    line-height: 3rem;
}
li{
    white-space: nowrap;
}
i{
    margin-right: 1rem;
}
h1{
    font-size: 3rem;
    text-align: center;
}
header{
    margin-bottom:1rem;
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
}
#burger{
    margin: 1rem 0 0 2.5rem;
    color:#edddd4;
    background: #197278;
    font-size:1.5rem;
    z-index: 2;
    border-radius: 50%;
    padding: 0.8rem 0.8rem 0.8rem 1rem;
    width: 1.3rem;
}
nav{
    position: absolute;
    top:0;
    height: 100%;
    background: #197278;
    color:#edddd4;
    transform: translatex(-10rem);
    padding-top:3.8rem;
    transition: transform 350ms ease-in-out;
}
nav a{
    color:#edddd4;
    text-decoration: none;
    font-weight: bold;
}
.menu-active{
    transform: translatex(0);
}
main h1{
    margin: 0 1rem;
}
#products {
    text-align: center;
}
#products div {
    margin:0.5rem;
}
#products h2{
    background: #D8315B;
    color:#fff;
    padding: .3rem 1rem;
    border-bottom: .3rem solid #fff;
}
#products p{
    font-variant :small-caps;
    font-size: 1.5rem;
}
#products img {
    width:70% ;
}
#products h3{
    font-weight: bold;
    font-size: 3rem;
}
#products a{
    background: #7c6a;
    padding: .5rem 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

@media (min-width:640px) {
    #products{
    display:flex;
    
    }
}